<template>
  <div>
    <h1>Work in Progress...</h1>
    <a href="https://github.com/Arunscape?tab=repositories" target="_blank">
      <span>Check my github for now...</span>
    </a>

    <v-img src="https://i.kym-cdn.com/photos/images/original/001/218/297/73a.png"/>
  </div>
</template>

<script>
export default {};
</script>
