<template>
  <pdf src="https://raw.githubusercontent.com/Arunscape/resume/master/Arun_Woosaree_Resume.pdf"/>
</template>

<script>
import pdf from "vue-pdf";

export default {
  components: {
    pdf
  }
};
</script>